<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"
        ><strong>{{ title }}</strong></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'login'"
              routerLinkActive="{{ getClass() }}"
              >Login <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" [routerLinkActive]="['active']"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a *ngIf="this.authService.isloggedin()" class="nav-link" routerLink="addproduct" routerLinkActive="active"
              >Add Product</a
            >
          </li>
          <li class="nav-item">
            <a *ngIf="this.authService.isloggedin()" class="nav-link" [routerLink]="['getproducts']">Get Products</a>
          </li>
          <li class="nav-item">
            <a *ngIf="this.authService.isloggedin()" class="nav-link" [routerLink]="['getproducts/brands']">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['pagenotfound']">Page Not Found</a>
          </li>
          <li class="nav-item">
            <a *ngIf="this.authService.isloggedin()" class="nav-link"  (click)="logout()" [routerLink]="['login']">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  