<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of this.productService.products; let idx = index">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button (click)="deleteProduct(idx)">Delete Product</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="button" [routerLink]="['brands']">Brands</button>
  <router-outlet></router-outlet>